/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon-facebook {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon-facebook path,
.svg-icon-facebook polygon,
.svg-icon-facebook rect {
  fill: #ffffff;
}

.svg-icon-facebook circle {
  stroke: #ffffff;
  stroke-width: 1;
}
