@import "../../../Style/StyleMaster.module.css";
.isActive {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    border-radius: 2px;
    text-decoration: none;
    justify-content: center;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3); /* Añade una sombra 3D */
    transform: perspective(500px) rotateY(10deg); /* Aplica una rotación 3D */
}


.notActive {
    text-decoration: none;
    color: var(--Nabar-text);
}