@import "../../Style/StyleMaster.module.css";


 .NavBar { 
    background-color: var(--Nabar-background);

}
/*
.AsideNavBar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.NavBarlogo {
    height: 70px;
    width: 200px;
   
}

.logo {
    min-width: 40%; 
    max-width: 40%; 
     min-height: 70px;
    max-height: 70px;
}


.AsideNavBarInput {
  width: 100%;
  max-width: 300px;
  height: 15px;
  padding: 12px;
  border-radius: 35px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}
.AsideNavBarInput:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.AsideNavBarInput:active {
  transform: scale(0.95);
}

.AsideNavBarInput:focus {
  border: 2px solid grey;
} */

.NavBarContent{
  display: grid
}

