:root {

    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #d6ba1da4;
    --color-white: #fff;
    --color-info-dark: #6191cc;
    --color-dark: #ffffff;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-transparent: transparent;

    /* este es el color del fondo de la aplicacion  */

    --color-App--Background: #e9dfdf;


    /* Nabar style*/
    --Nabar-background: #2a588b;
    --Nabar-text: #fff;

    /*Cards*/
    --Cards-background:#3498db;

    /*Home*/
    /* Colores de botones de paginado */
    --btn-paginado-background: #007bff;
    --btn-paginado-hover: #0056b3;
    
    /*login*/
    --BTN-Reginster: #0056b3;
    --text-Text: #fff;
    --BTN-Reginster: #007bff;
    --BTN-hover: #00b383;
}

    