@import "../../Style/StyleMaster.module.css";

li {
  list-style: none;
  list-style: none;

}

 

.Footer { 

  background-color: var(--Footer-background);


}
/*
.logo {
    display: flex;
    width: 60%;
    margin-left: 22%;
}
 */

/* .footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: var(--Nabar-background);
    width: 100%;
    height: 70%;
  }
  
  .footerSocialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footerSocialMediaIcon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
  }
  
  .footerInfo {
    display: flex;
    justify-content: center;
  }
  
  .footerInfoLeft, .footerInfoCenter, .footerInfoRight {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
  }
  
  .footerInfoName, .footerInfoEmail, .footerInfoNumber {
    margin-bottom: 10px;
  }
  
  .footerInfoName, .footerInfoReturns {
    text-align: start;
  }
  
  .footerInfoEmail, .footerInfoTerms {
    text-align: center;
  }
  
  .footerInfoNumber, .footerInfoContact {
    text-align: end;
  }
  
  .footerDate {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footerSeperator {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: var(--Nabar-background);
    width: 100%;
  }
  
  .footerName {
    display: flex;
    justify-content: center;
  }
  
  .footerBottomName {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: large;
    margin: 0px 20px;
  }
 */

/* @import "../../Style/StyleMaster.module.css";


.Footer { 
    display: flex;
    position: fixed;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--Nabar-background);
    color: rgb(0, 0, 0);
    text-align:center;
}

.logo {
    max-width: 20%;
    max-height: 20%;
} */