.ui-review-step--RATING {
  display: flex;
  width: auto;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 24px;
  padding-bottom: 56px;
}

.ui-review-step {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px #0000001f;
  flex-direction: column;
  padding: 0 40px;
}

.ui-review-form--steps .andes-thumbnail-container {
  margin-bottom: 30px;
  padding-top: 40px;
}

.andes-thumbnail.andes-thumbnail--circle.andes-thumbnail--48.ui-review--image--thumbnail-130-130 {
  height: 108px;
  margin: 0 auto;
  width: 108px;
}

.andes-thumbnail.andes-thumbnail--48 {
  font-size: 20px;
}

.andes-thumbnail--circle {
  border: 1px solid rgba(0, 0, 0.07);
  border-radius: 50%;
  overflow: hidden;
}

.andes-thumbnail {
  color: rgba(0, 0, 0, 0.9);
  font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
}

.andes-thumbnail--40,
.andes-thumbnail--48 {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.andes-thumbnail > img {
  height: auto;
  max-width: 100%;
  width: auto;
}

.andes-thumbnail.andes-thumbnail--48 {
  font-size: 20px;
}

.ui-review-label--RATING-SUBTITLE {
  color: rgba(0, 0, 0, 0.55);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 17px;
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 0;
}

.ui-review-label--REVIEW-TITLE {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0px;
}

.ui-review--rating-select .rating-labels {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ui-review-step .rating-labels .ui-reviews-label.ui-reviews-low {
  left: 8px m !important;
}

.ui-review-step--input-rating .rating-labels .ui-reviews-label {
  margin-top: 24px !important;
}

.ui-review-step .rating-labels .ui-reviews-label {
  margin-left: 0;
  right: 0 !important;
}

.ui-reviews-label.ui-reviews-high,
.ui-reviews-label.ui-reviews-low {
  color: rgba(0, 0, 0, 0.55);
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
}

.ui-reviews-label.ui-reviews-low {
  margin-block-start: 0;
  text-align: left;
}

.ui-reviews-label.ui-reviews-high {
  left: 158px !important;
  margin-block-start: 0;
  text-align: right;
}

.ui-review--rating-select .rating-labels {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.ui-review-step--input-rating .ui-review--rating-select {
  margin-top: 30px;
  position: relative;
  width: 200px !important;
}

.ui-review-form--steps {
  padding-top: 2px;
  width: 592px;
}

.ui-review-step--DESCRIPTION {
  align-items: center;
  padding-bottom: 40px;
}

.ui-review-step {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.ui-review-label--DESCRIPTION-TITLE {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-bottom: 6px;
  padding-top: 39px;
}

.ui-review-label--DESCRIPTION-SUBTITLE {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0;
}

.andes-form-control--textfield .andes-form-control__control {
  align-items: center;
  background-color: #fff;
  border-radius: 0.375em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  display: flex;
  font-size: 16px;
  min-height: 48px;
}

.andes-form-control__border,
.andes-form-control__control,
.andes-form-control__field,
.andes-form-control__label,
.andes-form-control__message {
  width: 100%;
}

.andes-form-control__control {
  position: relative;
}

.andes-form-control {
  font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
}

.andes-form-control--textfield .andes-form-control__field::placeholder {
  opacity: 1;
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 88px;
}

.ui-review-text-area textarea::placeholder {
  color: rgba(0, 0, 0, 0.55) !important;
  font-size: 14px !important;
}

.ui-review-step--DESCRIPTION
  .andes-form-control__control
  .andes-form-control__field {
  width: 512px;
}

.andes-form-control--textfield .andes-form-control__field {
  flex-grow: 1;
}

.andes-form-control--textfield .andes-form-control__field {
  border-radius: 0.375em;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0.8125em 0.75em;
}

.ui-review-text-area textarea {
  box-shadow: none;
  min-height: 88px;
}

.andes-form-control__field {
  background: transparent;
  border: 0;
  color: rgba(0, 0, 0, 0.9);
  font-family: inherit;
  overflow: hidden;
  resize: none;
}

.andes-form-control__border,
.andes-form-control__control,
.andes-form-control__field,
.andes-form-control__label,
.andes-form-control__message {
  display: block;
}

.andes-form-control {
  font-weight: 400;
  text-align: left;
}

.andes-form-control--textfield .andes-form-control__bottom {
  align-items: center;
  display: flex;
  font-size: 13px;
  margin: 0.6153846154em 0 0 0.4615384615em;
}

.andes-form-control {
  font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
}

.andes-form-control--countdown .andes-form-control__countdown {
  color: rgba(0, 0, 0, 0.55);
  float: right;
  font-size: 13px;
  line-height: 1;
  text-align: right;
  margin-bottom: 20px;
}

.andes-visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ui-review-form {
  height: auto;
  width: 592px;
  margin: 0 auto;
}

.rating-form-container {
  width: 100%;
  height: 100%;
  background-color: rgb(226, 241, 254);
}

.stars {
  margin-bottom: 24px;
}

.submit-button-rating-form {
  background-color: rgb(12, 71, 221); /* Green */
  border: none;
  color: white;
  margin: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
