@import "../../Style/StyleMaster.module.css";

.main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
}
.ContainerCarusel {
  grid-column: 1 /4;
  width:  100%;
  
}
.dark-mode {
  background-color: #2c2c2c;
  color: #2c2c2c;
}
.darkMode {
  background-color: #2c2c2c;/* Cambia el color de fondo para el modo oscuro */
  color: #2c2c2c; /* Cambia el color del texto para el modo oscuro */
}
/* .ContainerAsaider {
  grid-column: 1/2;
} */

.ContainerNav {
  width: 100%;
}

.ContainerHome {
  grid-column: 2/4;
  /* min-width: 350px; */
  width: 100%;
  background-color: #ffffff;
  /* margin-bottom: 50px; */
}
.ContainerCards {
  display: grid;
  margin-right: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.ContainerFooter {
  background-color: black;
  grid-column: 1/4;
  margin-bottom: -21px;
  display: flex;
}

.ContainerFooter.darkMode {
  background-color: #2c2c2c; /* color de fondo para el modo oscuro */
}

.ContainerNav.darkMode {
  background-color: #2c2c2c; /* color de fondo para el modo oscuro */
}


.ContainerHome.darkMode {
  background-color: #2c2c2c; /* color de fondo para el modo oscuro */
}

.ContainerCards.darkMode {
  background-color: #2c2c2c; /* color de fondo para el modo oscuro */
}

@media (width < 768px) {
  .main {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .ContainerCarusel {
    grid-column: 1/4;
  }

  .ContainerAsaider {
    grid-column: 1/4;
  }

  .ContainerHome {
    grid-column: 2/4;
    /* min-width: 350px; */
    width: 100%;
    margin: 0;
  }
}

.ContainerAsaider,
.ContainerFilter {
  margin: 0;
}

.ContainerAsaider {
  /* width: 50%; */
  max-width: 500px;
  min-width: 300px;
  overflow: hidden;
}

.ContainerAsaider aside {
  margin-left: 7rem;
}


.ContainerCards {
  min-width: 300px;
}



.ContainerFooter {
  width: 100%;
  background: black;
}

.BTNPreviu,
.BTNNext,
.BTNResetCards {
  background-color:  #000000;
  color:  #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.BTNPreviu:hover,
.BTNNext:hover,
.BTNResetCards:hover {
  background-color: #ff5733;
}

.BTNDarkMode:hover{
  background-color: #ff5733;
  color: #ffffff;
}

.BTNDarkMode{
  
color: #ffffff;
}

.BTNDarkMode_div{
  margin-left: 80%;
}

.SpanCurrentPage {
  font-size: 18px;
  margin: 0 10px;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  width: 100%;
  grid-column: 2/4;
  padding: 2rem;
  
}
