.title2 {
 

  width: 70%;
}

.title {
  color: #3498db;
  font-size: 18px;
  line-height: 6px;
  cursor: pointer;
  width: 50%;
  pointer-events: none;

}

/* .title:hover {
  background-color: #ff5733;
}

.title2:hover {
  background-color: #ff5733;
} */

.header:hover {
  background-color: #ff5733;
  
}

.popup {
  padding: 0 10px 10px;

}

.popup .list-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  line-height: 6px;
  padding: 0.5rem 0;
}

.list-item:hover {
  background-color: #3498db;
}
